html, body {
    margin: 0px;
    background-color: lightgoldenrodyellow;
}

nav {
    /* display: block; */
    text-align: center;
    float: none, 10em;
    /* margin: 10px; */
    /* padding: 10px; */
    /* position: absolute; */
    top: 0px;
    font-size: 2em;
    background-color: rgb(185, 135, 236);
}

p {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    /* display: inline-block; */
    float: none, 10em;
    list-style-type: none;
}

.links {
    /* float: right; */
    padding: 0px 60px;
}